@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Jonathan Fainsiliber - יהונתן פיינזילבר<br />
    <abbr title="Phone">P:</abbr>
    +972 54 620 8930
</address>

<address>
    <strong>Email 1:</strong> <a href="mailto:fainsilber@yahoo.com">fainsilber@yahoo.com</a><br />
    <strong>Email 2:</strong> <a href="mailto:fainsilber@gmail.com">fainsilber@gmail.com</a>
</address>
